/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.main-title {
  margin-bottom: 16px;
}

.timer-input {
  box-sizing: border-box;
  border-radius: 8px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.timer-input:hover {
  border: 1px solid #000;
}
.timer-input:active {
  border: 1px solid #4e75ff;
  color: #000;
}

.timer-input:disabled {
  border: 1px solid #808080;
  color: #808080;
}

button[data-start] {
  margin-left: 8px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button[data-start]:hover {
  background: #6c8cff;
}

button[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
}

.main-title {}

.main-title-gradient {}

.timer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.value {

  font-weight: 400;
    font-size: 40px;
  
    /* line-height: 48px; */
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
  font-weight: 400;
    font-size: 16px;
  
    /* line-height: 24px; */
    line-height: 1.5;
    color: #2e2f42;
}
