.vite-promo {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 88px;
    text-align: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  transition: 200ms ease-in;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 185px;
  height: 90px;
  background: linear-gradient(180deg, #bd34fe 10%, #47caff 90%);
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: xx-large;
  letter-spacing: .04em;
  color: #fff;
}

.nav-link:hover {
  color: #00000080;
}
